div.myfab_file_interface_data_content_mf > span {
    max-height: 152px;
    max-width: 1400px;
    text-overflow: initial !important;
    overflow: scroll !important;
    background-color: white;
    padding: 10px !important;
}

.last_export_section_mf td:nth-child(2) {
    text-align: right;
}