div.myfab_file_interface_json_content_mf {
    max-height: 152px;
    overflow-y: scroll;
    background-color: white;
    padding-left: 10px !important;
}

.last_export_section_mf td:nth-child(3) {
    text-align: right;
}